In [33]:
import pandas as pd

capstone_df = pd.read_csv(r"C:\Users\Haw Yuan Xin\Desktop\HeicodersAcademy\Ai300\CapstoneProject\Casptonedata.csv")

capstone_df

,account_id,tenure_months,tenure_months.1,num_referrals,contract_type,total_monthly_fee,total_charges_quarter,total_refunds,gender,age,num_dependents,status,city,population
0,NFEJ-WVYXF,4,4,0,Month-to-Month,73.90,280.85,0.0,Male,50,0,Churned,Costa Mesa,62069
1,BFIN-DLMOA,3,3,3,Month-to-Month,83.90,267.40,0.0,Female,75,0,Churned,Camarillo,42853
2,AFEO-XOOCP,63,63,8,Two Year,84.65,5377.80,0.0,Male,52,0,Stayed,Napa,63947
3,DEMQ-MFXWC,65,65,3,Two Year,90.45,5957.90,0.0,Female,43,1,Stayed,Sheridan,1219
4,AIPP-VTDXJ,72,72,0,Two Year,101.30,7261.25,0.0,Female,32,0,Stayed,La Mesa,24005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,LNRH-QIIVJ,41,41,0,Month-to-Month,45.20,1841.90,0.0,Female,58,3,Stayed,Stinson Beach,781
996,GCDO-LCNJJ,47,47,5,Two Year,21.30,1041.80,0.0,Female,47,3,Stayed,Palmdale,34045
997,HROY-CKUQC,25,25,1,Month-to-Month,34.00,853.00,0.0,Female,19,0,Churned,San Diego,30206
998,KDVC-VZBAI,40,40,5,One Year,80.80,3132.75,0.0,Male,46,0,Stayed,Guadalupe,5726
999,HSMH-UYNSW,2,2,0,Month-to-Month,69.80,146.65,0.0,Male,31,0,Joined,Winterhaven,3663

In [34]:
capstone_df.columns

Index(['account_id', 'tenure_months', 'tenure_months.1', 'num_referrals',
       'contract_type', 'total_monthly_fee', 'total_charges_quarter',
       'total_refunds', 'gender', 'age', 'num_dependents', 'status', 'city',
       'population'],
      dtype='object')

In [35]:
capstone_df.isna().sum()

account_id               0
tenure_months            0
tenure_months.1          0
num_referrals            0
contract_type            0
total_monthly_fee        0
total_charges_quarter    0
total_refunds            0
gender                   0
age                      0
num_dependents           0
status                   0
city                     0
population               0
dtype: int64